* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}


main {
    margin: 0.5em 2em;
}

.post_container {
    display: flex;
    justify-content: center;
    margin: 1em auto;
    /* border: 2px dashed red; */
    width: 100%;
}

.post_card {
    width: 50vw;
    padding: 1em 1em 1.5em;
    border-radius: 10px;
    background-color: rgba(209, 209, 209, 0.356);

}

.post-date {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8em;
    margin: 0em 0em 0.5em 0em;
    color: gray;
}

#post_images {
    /*size of the images displayed on the user's page*/
    width: 100%;
    border-radius: 10px;
    display: block;
}

.like_and_comment_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5em;
    font-size: 0.9em;
    color: #333;
}

.like_button,
.comment_button {
    background: none;
    border: none;
    color: #007BFF;
    cursor: pointer;
    font-size: 1em;
    padding: 0;
    margin-left: 1em;
}

#comment_dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50vw;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px;
    padding: 1em 2em;
    background-color: #ffff;
}

#comment_input {
    width: 100%;
    height: 100px;
    padding: 0.5em;
    margin: 0.5em 0em 1em 0em;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.comment_content_dialogue_container {
    display: flex;
    gap: 10px;
    height: 65vh;
}

.image_preview_container {
    width: 70%;
}

.comments_container {
    width: 50%;
    overflow: auto;
    max-height: 100%;
}

#image_preview {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1em;
}

.submit_btn_container {
    display: flex;
    justify-content: flex-end;
}

#submit_btn {
    padding: 0.5em 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#close_comment_modal_btn {
    border: none;
    background-color: rgb(255, 99, 99);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    height: auto;
}

.comment {
    border: 1px solid grey;
    margin-bottom: 0.5em;
    background-color: #f9f9f9;
    padding: 0.5em;
    border-radius: 5px;
}

#comment_user {
    color: #333;

}

#comment_date {
    color: gray;
    margin-left: auto;
    font-size: 0.8rem;
}

.comment_meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}